.boxheader {
    height: 103px;
}
.boxheader {
    width: 1303px;
    background-color: greenyellow;
    margin-right: 20px;
    border: 1px solid black;
    height: 180px;
    float: left;
    margin-bottom: 20px;
}
.container .satu {
   float: left;
   background-color: yellow;
   width: 13%;
   height: 205px;
   border: 1px solid black;
   margin-right: 22px;
   margin-bottom: 20px;
}
.container .dua {
    float: left;
    background-color: orangered;
    width: 83%;
    height: 205px;
    border: 1px solid black;
    margin-right: 22px;
    margin-bottom: 20px;
}
.bottombox .satu{
    float: left;
    background-color: yellow;
    width: 13%;
    height: 205px;
    border: 1px solid black;
    margin-right: 22px;
    margin-bottom: 20px;
}
.bottombox .dua{
    float: left;
    background-color:aqua;
    width: 83%;
    height: 205px;
    border: 1px solid black;
    margin-bottom: 20px;
}