body {
    background-color: lightblue;
    font-family: 'Lucida Sans',Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: blueviolet;
}

p {
    text-align: justify;
    width: fit-content;
}

.center {
    width: 35%;
    display: block;
    margin: 0 auto;
}

.foto {
    background-color: black;
}

.foto img {
    width: 23%;
}

.cod {
    margin: auto;
    width: 80%;
}


.cod p {
    background-color: aqua;
    border: 5px dotted red;
    text-align: center;
    font-weight: bold;
    color: blue;
    margin: 0 auto;
}

.promo {
    color: red;
    text-align: center;
    font-size: 20px;
}

#tombol {
    color: red;
    background-color: yellow;
    display: block;
    margin: 0 auto;
}