body {
    background-color: khaki;
}
#header{
    background-color: burlywood;
    margin: 0 auto;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: blue;
    padding: 20px;
}
#header blockquote{
background-color: yellow;
text-align: center;
margin: 0 auto;
padding: 10px;
width: 97%;
color: black;
}
#soekarno{
    background-color: yellow;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    color: black;
}
.link{
    text-align: center;
    margin: auto;
    padding: 10px;
}
.gambar{
    width: 25%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.isi {
    margin: auto;
    text-align: justify;
}
.bBesar {
    font-size: 50px;
    color: blue;
    display: inline;
}
/*.h1{
    margin: 0 auto;
    text-align: 0 auto;
}*/

.koleksi {
    background-color: black;
}

.koleksi img {
    width: 23%;
}
.promo {
    color: red;
    text-align: center;
    font-size: 20px;
}